<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/login.css" />
  </head>
  <body>
    <div class="login-container">
      <h2>Log In</h2>

      <!-- Display error message if any -->
      {{#if error}}
        <div class="error-message">{{error}}</div>
      {{/if}}

      <!-- Login form -->
      <form action="/login" method="post">
        <input type="text" name="name" placeholder="Name" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <input type="submit" value="Login" />
      </form>

      <!-- Link to signup page -->
      <p>Don't have an account? <a href="/signup">Sign Up</a></p>
      <!-- This will take the user to the signup page -->
    </div>
  </body>
</html>