<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/login.css" />
    <!-- Use the same CSS file as login -->
  </head>
  <body>
    <div class="login-container">
      <!-- Use the same container class as login -->
      <h2>Sign Up</h2>

      <!-- Display error message if any -->
      {{#if error}}
        <div class="error-message">{{error}}</div>
      {{/if}}

      <!-- Signup form -->
      <form action="/signup" method="post">
        <input type="text" name="name" placeholder="Name" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <input type="submit" value="Sign Up" />
      </form>

      <!-- Link to login page -->
      <p>Already have an account? <a href="/login">Login</a></p>
      <!-- Link to login page -->
    </div>
  </body>
</html>